@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.up {
  position: fixed;
  background-color: #eeeeee;
  bottom: 5%;
  left: 5%;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.up a {
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid grey;
}

nav .head {
  padding: 1rem 1.5rem;
}

nav .head h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

nav .links {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-size: 12px;
  margin-right: 1.5rem;
}

nav .links .btn {
  height: 50px;
  height: inherit;
  padding: 0 2rem;
  background-color: #057ed1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links .btn p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
}

section {
  margin: 2rem 0;
  padding: 2rem 4rem;
  min-height: 90vh;
  width: 100%;
}

.section-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.section-1 .home {
  display: none;
}

.section-1 button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 1rem 0;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 32px;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section-1 button:hover {
  color: white;
  background-color: black;
}

.section-1 figure {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1 figure img {
  width: 100%;
}

.section-1 figure:nth-child(1) {
  z-index: 3;
  top: 45%;
}

.section-1 figure:nth-child(2) {
  z-index: 2;
}

.section-1 figure:nth-child(3) {
  z-index: 1;
  top: 55%;
}

.section-1 figure:nth-child(4) {
  z-index: 1;
  top: 35%;
  left: 20%;
}

.section-1 figure:nth-child(4) img {
  width: 60%;
}

.section-1 figure:nth-child(5) {
  z-index: 3;
  left: 69%;
  top: 73%;
}

.section-1 figure:nth-child(5) img {
  width: 60%;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 36px;
}

.section-2 h2 {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.section-2 p {
  font-family: "Montserrat", sans-serif;
  margin: 0 0px;
  font-weight: 300;
  padding: 0rem 0rem;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-3 h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
}

.section-3 p {
  font-size: 66px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

.section-3 button {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 32px;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 24px;
}

.section-3 button:hover {
  background-color: white;
  color: black;
}

.section-3 img {
  width: 100%;
}

.section-4 .header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem auto;
}

.section-4 .header h4 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 39px;
}

.section-4 .header p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.section-4 .content {
  margin: 1.5rem 0;
  width: 80%;
  min-height: 80vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .content .right,
.section-4 .content .left {
  height: auto;
  position: relative;
  z-index: 4;
}

.section-4 .content .right h3,
.section-4 .content .left h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.section-4 .content .right h3 span,
.section-4 .content .left h3 span {
  font-size: 24px;
}

.section-4 .content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 10%;
  width: 70%;
}

.section-4 .content .center img {
  position: relative;
}

.section-4 .content .center img:nth-child(1) {
  width: 50%;
  z-index: 3;
  left: 10%;
}

.section-4 .content .center img:nth-child(2) {
  width: 90%;
  z-index: 2;
  right: 10%;
}

.section-5 .content {
  padding: 10%;
}

.section-5 .content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.section-5 .content p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 2rem 0;
}

.section-5 .content h5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 1rem;
}

.section-5 .content strong {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.section-5 .img {
  width: 100%;
  margin: auto;
  padding: 0 10%;
}

.section-5 .img img {
  margin: 2rem 0;
  width: 100%;
  border-radius: 12px;
}

.section-6 .header {
  padding: 10%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-6 .header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.section-6 .header h3 {
  font-size: 66px;
  line-height: 84px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-6 .header button {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 32px;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.5rem;
}

.section-6 .header button:hover {
  background-color: white;
  color: black;
}

.section-6 .content {
  padding: 10%;
  margin: auto;
}

.section-6 .content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  margin-bottom: 1.2rem;
}

.section-6 .content p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 1.2rem;
}

.section-6 .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.section-6 .content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}

.section-6 .content ul li span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.section-6 .content ul li strong {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.section-6 .content .img-ctr {
  width: 100%;
  position: relative;
  border-radius: 1rem;
}

.section-6 .content .img-ctr img {
  width: 100%;
  border-radius: 1rem;
}

.section-6 .content .img-ctr .details {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 2rem;
}

.section-6 .content .img-ctr .details img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.section-7 .content {
  padding: 0 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.section-7 .content .left,
.section-7 .content .right {
  width: 50%;
  height: 100%;
  position: relative;
}

.section-7 .content .left img,
.section-7 .content .right img {
  width: 80%;
}

.section-7 .content .left .face,
.section-7 .content .right .face {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  overflow: hidden;
}

.section-7 .header2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem auto;
}

.section-7 .header2 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 39px;
  width: 50%;
}

.section-7 .header2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
  width: 50%;
}

.section-7 .img-ctr {
  padding: 2rem 4rem;
  width: 100%;
}

.section-7 .img-ctr img {
  width: 100%;
  border-radius: 8px;
}

.section-7 .header {
  padding: 10%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.section-7 .header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.section-7 .header h3 {
  font-size: 66px;
  line-height: 84px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-7 .header button {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 32px;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 2.5rem;
}

.section-7 .header button:hover {
  background-color: white;
  color: black;
}

.section-8 {
  overflow: hidden;
}

.section-8 .header {
  position: relative;
  padding: 10%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-8 .header img {
  position: absolute;
}

.section-8 .header .pen {
  right: -70%;
  width: 90%;
  top: -60%;
}

.section-8 .header .phone {
  right: 70%;
  width: 80%;
  top: 60%;
}

.section-8 .header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.section-8 .header h3 {
  font-size: 66px;
  line-height: 84px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-8 .header button {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 32px;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin-bottom: 1.5rem;
}

.section-8 .header button:hover {
  background-color: white;
  color: black;
}

.section-8 .header2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem auto;
}

.section-8 .header2 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 39px;
  width: 50%;
}

.section-8 .header2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
  width: 50%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  nav .head {
    padding: 1rem 1.5rem;
  }
  nav .head h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  nav .links {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .links a {
    display: none;
  }
  nav .links .btn {
    height: 50px;
    height: inherit;
    padding: 0 1rem;
    background-color: #057ed1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .links .btn p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 14px;
  }
  section {
    margin: 1.2rem 0;
    padding: 1rem 1.2rem;
    min-height: auto;
    width: 100%;
  }
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 2rem 0;
  }
  .section-1 .home {
    display: block;
    width: 100%;
  }
  .section-1 .home img {
    width: 100%;
  }
  .section-1 button {
    position: relative;
  }
  .section-1 figure {
    display: none;
  }
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 24px;
  }
  .section-2 h2 {
    font-family: "Roboto", sans-serif;
    padding: 1rem 1.2rem;
  }
  .section-2 p {
    font-family: "Montserrat", sans-serif;
    margin: 1.2rem 0;
    font-weight: 300;
    padding: 1rem 1.2rem;
  }
  .section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-3 h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .section-3 p {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .section-3 img {
    width: 100%;
  }
  .section-4 .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.5rem auto;
  }
  .section-4 .header h4 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
  }
  .section-4 .header p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  .section-4 .content {
    margin: 1rem 0;
    width: 100%;
    min-height: 90vh;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-5 .content {
    padding: 2%;
  }
  .section-5 .content h4 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
  }
  .section-5 .content p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 2rem 0;
  }
  .section-5 .content h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .section-5 .content strong {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
  }
  .section-5 .img {
    width: 100%;
    margin: auto;
    padding: 0 10%;
  }
  .section-5 .img img {
    margin: 1rem 0;
    width: 100%;
    border-radius: 12px;
  }
  .section-6 .header {
    padding: 10%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-6 .header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  .section-6 .header h3 {
    font-size: 28px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .section-6 .header button {
    border: 2px solid black;
    color: white;
    background-color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 32px;
    outline: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    margin-bottom: 1.5rem;
  }
  .section-6 .header button:hover {
    background-color: white;
    color: black;
  }
  .section-6 .content {
    padding: 2%;
    margin: auto;
  }
  .section-6 .content h4 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    margin-bottom: 1.2rem;
  }
  .section-6 .content p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 1.2rem;
  }
  .section-6 .content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  .section-6 .content ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1.5rem;
  }
  .section-6 .content ul li span {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
  }
  .section-6 .content ul li strong {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .section-6 .content .img-ctr {
    width: 100%;
    position: relative;
    border-radius: 1rem;
  }
  .section-6 .content .img-ctr img {
    width: 100%;
    border-radius: 1rem;
  }
  .section-6 .content .img-ctr .details {
    position: absolute;
    bottom: 0;
    margin: auto;
    padding: 2rem;
  }
  .section-6 .content .img-ctr .details img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 1rem;
  }
  .section-7 .content {
    padding: 0 10%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .section-7 .content .left,
  .section-7 .content .right {
    width: 50%;
    height: 100%;
    position: relative;
  }
  .section-7 .content .left img,
  .section-7 .content .right img {
    width: 80%;
  }
  .section-7 .content .left .face,
  .section-7 .content .right .face {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    overflow: hidden;
  }
  .section-7 .header2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.5rem auto;
  }
  .section-7 .header2 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 39px;
    width: 100%;
  }
  .section-7 .header2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 26px;
    width: 100%;
  }
  .section-7 .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section-7 .header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  .section-7 .header h3 {
    font-size: 29px;
    line-height: 32px;
    margin-bottom: 1.5rem;
  }
  .section-8 {
    overflow: hidden;
  }
  .section-8 .header {
    position: relative;
    padding: 10%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-8 .header img {
    position: absolute;
  }
  .section-8 .header .pen {
    right: -60%;
    width: 90%;
    top: 10%;
  }
  .section-8 .header .phone {
    right: 70%;
    width: 80%;
    top: 60%;
  }
  .section-8 .header h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .section-8 .header h3 {
    font-size: 29px;
    line-height: 32px;
  }
  .section-8 .header2 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.5rem auto;
  }
  .section-8 .header2 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 39px;
    width: 100%;
  }
  .section-8 .header2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 26px;
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .banner img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */